@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <p>
            This website was created in order to manage your time. Let's do this!
        </p>
        <p>
            Just add some tasks to your day, and follow your plans!
        </p>
        <h1> </h1>
    </div>
