@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <div>
            <h1 class="display-4">All in your hands!</h1>
            <span>Just choose a theme color.</span>
        </div>
        <div>
            <span>But remember, dark topic for tough guys...</span>
        </div>
        <div>
            <span>(Changes will take effect after page refresh.)</span>
        </div>
        <div>
            <span> </span>
            <a class="btn btn-dark btn-sm btn-block" href="~/Home/Settings/100" role="button">Dark</a>
            <a class="btn btn-info btn-sm btn-block" href="~/Home/Settings/101" role="button">Light</a>
            <a class="btn btn-primary btn-sm btn-block" href="~/Home/Settings/102" role="button">Blue</a>
            <a class="btn btn-success btn-sm btn-block" href="~/Home/Settings/104" role="button">Green</a>
            <a class="btn btn-danger btn-sm btn-block" href="~/Home/Settings/105" role="button">Red</a>
            <a class="btn btn-warning btn-sm btn-block" href="~/Home/Settings/106" role="button">Yellow</a>
        </div>
    </div>